version: '3.2'
services:
  redis:
    container_name: redis
    image: redis:7.2
    volumes:
      - {{ DIR }}/data/redis:/data
      - {{ DIR }}/config-files/redis:/usr/local/etc/redis
    command: redis-server /usr/local/etc/redis/redis.conf
    restart: unless-stopped
    ports:
      - 6379:6379

  sentinel:
    container_name: sentinel
    image: redis:7.2
    command: redis-server /etc/redis/sentinel.conf --sentinel
    volumes:
      - {{ DIR }}/config-files/sentinel:/etc/redis
      - {{ DIR }}/data/sentinel:/data
    restart: unless-stopped
    ports:
      - 26379:26379

